
export("convt2list")
export("grade_Rscripts")
export("is_knitable_Rmd")
export("has_gradable_files")
export("no_functions_in_Rmd")
export("opts_stats102A")
export("test_function")
importFrom("rmarkdown","render")
importFrom("methods", "formalArgs")
importFrom("stats", "aggregate")
importFrom("utils","install.packages", "modifyList", "type.convert", "write.csv", "stack", "unstack")
